/* Write your CSS here */
.money-manager-background-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  font-family: 'Roboto';
}
.money-manager-name-container {
  align-self: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  width: 100%;
  padding: 20px;
}
.richard-name {
  color: #475569;
}
.welcome-back-para {
  color: #475569;
}
.money-manager-span {
  color: #0b69ff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  border: 1px solid #7e858e;
  padding: 30px;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 100%;
  min-width: 250px;
}
label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #7e858e;
}
input {
  color: #7e858e;
  border: 1px solid #7e858e;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  width: 180px;
}

.history-container {
  border: 1px solid #7e858e;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.history-heading {
  color: #1e293b;
  font-size: 20px;
}
.form-heading {
  color: #1e293b;
  font-size: 20px;
}
.add-btn {
  color: #ffffff;
  background-color: #0b69ff;
  padding: 5px;
  display: block;
  border-width: 0px;
  margin-top: 20px;
  border-radius: 3px;
}
ul {
  margin-top: 0px;
  margin-left: 0px;
  align-self: flex-start;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #7e858e;
  padding: 2px;
  min-width: 250px;

  margin-left: 0px;
}
.transaction-headers {
  color: #1e293b;
  margin-right: 60px;

  font-size: 16px;
  font-weight: 600;
  align-self: flex-start;
  color: grey;
  margin-left: 20px;
  height: 20px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .transaction-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
  }
}
